{% extends 'base.html' %}

{% block title %}{% if not private %} Listar {% else %} Meus {% endif %} Alugueis{% endblock %}
{% block head %}
    <script>
        $(document).ready(function() {
            $('.cr-table').DataTable({
                "language": { 
                    "lengthMenu": "Mostrar _MENU_ alugueis por página",
                    "zeroRecords": "Nada com esse filtro - desculpe",
                    "info": "Mostrando _PAGE_ de _PAGES_",
                    "infoEmpty": "Não há alugueis com esse filtro",
                    "infoFiltered": "(filtrado de um total de _MAX_ buscas)",
                    "paginate": {
                        "first": "Primeiro",
                        "last": "Último",
                        "next": "Próximo",
                        "previous": "Anterior",
                    },
                    "loadingRecords": "Carregando...",
                    "search": "Filtrar:",
                    "aria": {
                        "sortAscending": ": Ative para ordenar a coluna de forma ascendente",
                        "sortDescending": ": Ative para ordenar a coluna de forma descendente"
                    }
                },
                "ordering": true,
                "responsive": true
            });
        });
    </script>
{% endblock %}
{% block content %}
    <h1>{% if not private %} Listar {% else %} Meus {% endif %} Alugueis</h1>
    <br/>
    {% if private  %}
        <a href="{% url 'solicita_aluguel' %}" class="btn btn-success">Solicita novo aluguel</a>
    <br/><br/>
    {% endif %}
    <div class="table-responsive">
        <table class="table table-bordered table-hover cr-table" >
            <thead>
                <tr class="table-primary">
                    <th class="w-15"> Cliente </th>
                    <th class="w-15"> Carro </th>
                    <th class="w-5"> Período </th>
                    <th class="w-5"> Preço </th>
                    <th class="w-5"> Condição </th>
                    <th class="w-5"> Status </th>
                    {% if not private %}
                        <th class="w-15"> Funcionário </th>
                        <th class="w-5"> Data de Avaliação </th>
                    {% endif %}
                    <th class="w-5"> Data de Devolução </th>
                    <th class="w-30"> Ações </th>
                </tr>
            </thead>
            <tbody>
                {% for aluguel in alugueis %}
                    <tr>
                        <td> {{ aluguel.cliente.first_name }} {{ aluguel.cliente.last_name }} </td>
                        <td> {{ aluguel.carro.modelo }} - {{ aluguel.carro.marca }} ({{ aluguel.carro.id }}) </td>
                        <td> {{ aluguel.data_ini }} até {{ aluguel.data_fim }} </td>
                        <td> {{ aluguel.preco_aluguel|floatformat:2 }} </td>
                        <td> {{ aluguel.condicao_antes }} {% if not aluguel.condicao_depois %}-> {{ aluguel.condicao_depois }} {% endif %} </td>
                        <td> {% if aluguel.status == None %} Não Avaliado {% elif aluguel.status == True %} Aceita {% else %} Rejeitada {% endif %} </td>
                        <td> {% if aluguel.status == None %} - {% else %} {{ aluguel.funcionario.usuario.first_name }} {{ aluguel.funcionario.usuario.last_name }} {% endif %} </td>
                        <td> {% if aluguel.status == None %} - {% else %} {{ aluguel.data_avaliacao }} {% endif %} </td>
                        <td> {% if aluguel.data_devolucao == None %} - {% else %} {{ aluguel.data_devolucao }} {% endif %} </td>
                        <td>
                            {% if solicitacao.status == None %}
                                {% if not private  %}
                                    <a href="{% url 'switch_status_aluguel' pk=aluguel.id status='aceita' %}" class="btn btn-success">Aceitar</a>
                                    <a href="{% url 'switch_status_aluguel' pk=aluguel.id status='rejeita' %}" class="btn btn-danger" style="margin-top: 1%;">Rejeitar</a>
                                {% else %}
                                    <a href="{% url 'cancela_aluguel' pk=aluguel.id %}" class="btn btn-danger">Cancelar Solicitação de Aluguel</a>
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="10">Ainda não há alugueis.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}