{% block head %}
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
{% endblock %}

<table>
    <thead>
        <tr>
            <td class='w-25'></td>
            <td class='w-50'></td>
        </tr>
    </thead>
    {% for field in form %}
        <tr valign="top">
            <td>
                {{ field.label_tag }}
                {% if field.help_text %}
                    <span><i class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="{% for text in field.help_text.splitlines %} {{text}} {% endfor %}" aria-hidden="true"></i></span>
                {% endif %}
            </td>
            <td>
                {{ field }}
            </td>
        </tr>
        {% if field.errors %}
            <tr>
                <td colspan="2">
                    <div class="alert alert-danger alert-dismissable" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="X">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {% for error in field.errors %}
                            {{ error }}<br/>
                        {% endfor %}
                    </div>
                </td>
            </tr>
        {% endif %}
        <tr><td colspan="2">&nbsp;</td></tr>
    {% endfor %}
</table>