{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <h1>Login</h1>
    <p>Informe os seus dados de login.</p>
    <hr class="my-4">
    <form method="POST">
        {% csrf_token %}
        {% include 'form_pattern.html' %}
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <a href="{% url 'password_reset' %}">Esqueceu sua senha?</a>
            </div>
        </div> 
        <br/>
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <input class="btn btn-success" type="submit" value='Efetuar Login'>
            </div>
        </div>
    </form>
{% endblock %}
