{% extends 'base.html' %}

{% block title %}Solicitação de Recuperação de Senha{% endblock %}

{% block content %}
    <h1 class="display-4">Solicitar Recuperação de Senha</h1>
    <p>Esqueceu sua senha? Sem problemas! Nós ajudamos você a recuperá-la.</p>
    <hr class="my-4">
    <form method="post">
        {% csrf_token %}
        {% include 'form_pattern.html' %}
        <div class="row">
            <div class="col-lg-3 offset-lg-3">
                <input type="submit" name="submit" value="Recuperar" class="btn btn-success btn-block" />
            </div>
        </div>
    </form>
{% endblock %}
